<div class="container" *ngIf="!showloader">

    <div class="d-flex justify-content-center">
        <h4 class=" mt-5">  Passbook </h4>
    </div>
    <div class="d-flex justify-content-center">
        <img [src]="img">
    </div>
    <div *ngIf="showloader" id="loader" class="loader"></div>
    <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Amount</th>            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of installment; let r = index">
            <th scope="row">{{r+1}}</th>
            <td>{{i.Date| date: 'dd/MM/yyyy'}}</td>  
            <td>{{i.Amount}}</td>            
          </tr>            
        </tbody>
      </table>
</div>
